.summoner-info { 
	padding: 0;
}
.main-nav {
	border-radius: 0;
	background-color: #0070ba;
	border: 0;
}
.navbar-default .navbar-brand{
	color: white;

}
.navbar-default { 
	background-image: linear-gradient(10deg, #0070ba, #1546a0)
}