#body {
	background-color: #918f8f;
}

#main {
	width: 20%;
	height: 20%;
	position: absolute;
	top:40%;
	left:40%;
}

#input-text {
	width: 80%;
	margin: 10% 10% 10% 9%;
}

#input {
	display: inline-block;
	margin: 5% 0 0 10%
}

#form-div {
	border: 1px solid white;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}