.main-nav {
	border-radius: 0;
	background-color: #0070ba;
	border: 0;
}
.navbar-default .navbar-brand{
	color: white;

}
.navbar-default { 
	background-image: linear-gradient(10deg, #0070ba, #1546a0)
}

.navbar-default .navbar-brand:hover {
	border-bottom: 5px solid white;
}
.pills {
	padding: 10px 0 10px 0
}

.row .pills .active {
	color:green;
}