{{define "MatchInfo"}}

<div class="container-fluid info-present-{{.GameId}}">
	<div class="row">
		<div class ="col-sm-6">
			<table class="table text-center">
				<thead>
					<tr>
						<td>Team 1</td>
					</tr>
				</thead>
				<tbody>
					{{range $index, $value := .ParticipantIdentities}}
						{{if lt $value.ParticipantId $.Separator}}
							<tr>
								<td>{{$value.Player.SummonerName}}</td>
							</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
		<div class ="col-sm-6">
			<table class="table text-center">
				<thead>
					<tr>
						<td>Team 2</td>
					</tr>
				</thead>
				<tbody>
					{{range $index, $value := .ParticipantIdentities}}
						{{if or (gt $value.ParticipantId $.Separator) (eq $value.ParticipantId $.Separator)}}
							<tr>
								<td>{{$value.Player.SummonerName}}</td>
							</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{end}}