{{define "SummonerTemplate"}}
<!DOCTYPE html>
<html lang="en">
	<head>

		<title>{{.Name}}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type ="text/javascript" src="/static/js/shroomed.js"></script>
		<link href="/static/css/style.css" rel="stylesheet">

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-default main-nav">
			<div class="navbar-header"><a class="navbar-brand" href="/">Shroomed</a></div>
			<div class = "container-fluid">
				<ul class="nav navbar-nav navbar-right">
		      		<li><a href="/feedback"><span class="glyphicon glyphicon-envelope"></span>Feedback</a></li>
		    	</ul>
	    	</div>
		</div>
		<div class="container main-container">
			<div class ="row summoner-info" >
					<div class = "col-sm-2 col-sm-offset-4">
						<img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/profileicon/{{.ProfileIconId}}.png" class="img-rounded img-responsive" alt = "Profile Icon" width="150" height="150">
					</div>
					<div class ="col-sm-2">
						<h1>{{.Name}}</h1>
						<p>Level : {{.SummonerLevel}}</p>
						<p>Last Seen : {{.LastSeen}}</p>
					</div>
			</div>
			<div class="row">
				<ul class ="nav nav-tabs nav-justified pills">
					<li id="ranked-li" class ="active"><a onclick="toggler('ranked')">Ranked</a></li>
					<li id="recent-li"><a onclick="toggler('recent')">Recent Matches</a></li>
					<li id="league-li"><a onclick="toggler('league')">Leagues</a></li>
					<li id="live-li"><a onclick="toggler('live')">Live Game</a></li>
				</ul>
			</div>
			<div class ="row" id='recent'>
				<table class="table table-hover">
					<thead>
						<tr>
							<th class = "text-center">Date</th>
							<th class = "text-center">Champion</th>
							<th class = "text-center">Mode</th>
						</tr>
					</thead>
					<tbody>
						{{range $index, $value := .Matches}}
							<tr>
								<td class = "text-center"> {{$value.Date}} </td>
								<td class = "text-center"> {{$value.ChampionName}} </td>
								<td class = "text-center"> {{$value.Mode}}</td>
							</tr>
						{{end}}
					</tbody>
			  	</table>
			</div>
			<div class ="row" id="ranked">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class = "text-center">Date</th>
							<th class = "text-center">Champion</th>
							<th class = "text-center"></th>
						</tr>
					</thead>
					<tbody>
						{{range $index, $value := .Ranked}}
							<tr >
								<td class = "text-center"> {{$value.Date}} </td>
								<td class = "text-center"> {{$value.ChampionName}} </td>
								<td class="text-center"><button data-toggle = "collapse" data-target="#{{$index}}" class ="accordion-toggle btn btn-primary btn-xs" style="margin:0" onclick="GetMatchInfo({{$value.GameId}},{{$index}})"> More info</button></td>
							</tr>
							<tr>
								<td colspan="6" style="padding:0 !important;"> <div id="{{$index}}" class="accordion-body collapse" aria-expanded="false"> {{$value.GameId}}</div></td>
							</tr>
						{{end}}
					</tbody>
				</table>
        	</div>
			<div class ="row" id="live">
			</div>
		</div>
		<!-- /container -->

	</body>
</html>
{{end}}